button:hover{
    cursor:pointer ;
}
.container{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: solid;
    border-radius: 15px;
    width: 400px;
    height: 400px;
    font-family:'Courier New', Courier, monospace;
    background-image: url(./images/background.jpg);
    background-position:center; 
    background-attachment: fixed;
    background-size: cover; 
}
.display{
     display: flex;
    flex-direction: column;
    align-items: center;
}
<<<<<<< HEAD
h1{
    color: brown;
    font-size: small;
=======

h1{
    color: blue;
    font-size: larger;
    font-family:'Courier New', Courier, monospace ;
>>>>>>> 56b86f87a71e6e309d07f9f4ae24f52b7a770584
}